---
---

@import "minima";

.post-header {
  display: none;
}

.wrapper {
  max-width: 1012px;
}

ul.character__icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1em;

  li {
    display: inline-block;
    margin: 0.5em;
    width: 12em;
  }
}

ul.character__icons figure {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

ul.character__icons figcaption {
  font-family: monospace;
  font-size: 0.8em;
  background-color: #ddd;
  overflow-wrap: break-word;
  padding: 0.1em 0.4em;
}
